@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-dark-gray: #0a0a0a;
  --color-off-white: #e5e5e5;
  --color-accent-red: #b91c1c;

  --font-mono: 'Courier Prime', monospace;
}

@layer base {
  body {
    @apply bg-black text-off-white font-mono overflow-x-hidden;
  }

  ::selection {
    @apply bg-accent-red text-white;
  }
}